<section class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                <p>&copy; Copyright All Rights Reserved 2015</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                <!-- <p>Site Design & Developed By MbK</p> -->
            </div>
        </div>
    </div> 
</section> 

<section class="scroller2top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="#" class="top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            </div>
        </div>
    </div> 
</section> 
  
  
  





