
<section class="first-row">
    <div id="top-row" class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="top-title text-center">Online Video Editor</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="registration text-right">
                    <ul class="list-unstyled list-inline">
                        <li><a href="/signout" target="_self">Log out</a></li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>  
</section>

	
<!-- custom js-->
<script src="js/airvuz.js"></script>