@font-face {
  font-family: 'OratorStd';
  src: url('../fonts/OratorStd.eot');
  src: url('../fonts/OratorStd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OratorStd.woff2') format('woff2'),
       url('../fonts/OratorStd.woff') format('woff'),
       url('../fonts/OratorStd.ttf') format('truetype'),
       url('../fonts/OratorStd.svg#OratorStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
       url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
       url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
       url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, .h1{
	font-size: 50px;
	font-family: 'OratorStd', sans-serif;
}
h2, .h2{
font-family: 'OratorStd', sans-serif;
}
h3, .h3{
font-family: 'OratorStd', sans-serif;
}
p{
	font-family: 'SegoeUI-SemiBold' sans-serif;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: medium none;
  outline-offset: -2px;
}
.first-row {
	background-color: #1e1b16;
	border-bottom: 1px solid #fff;
}
#top-row.container {
	
}
.top-title {
	height: 160px;
	padding-top: 68px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size:64px;
	font-family: 'OratorStd', sans-serif;
}
.second-row{
	background-image: url(../images/top-row.jpg);
	height: 537px;
	background-repeat: no-repeat;
	background-position: center; 
}
.join-free button {
	background-color: #9c9999;
	border-radius: 0;
	text-transform: uppercase;
	border-color: inherit;
	border: 0;
	color: #000;
	font-size: 38px;
	margin-top: 128px;
	font-family: 'OratorStd', sans-serif;
}
.join-free button:hover, .join-free button:focus, .join-free button:active{
	background: #b5b2b2;
	color: #000;
	font-size: 38px;
	font-family: 'OratorStd', sans-serif;
}
.join-free{
  margin-bottom: 55px;
}
.share-area, .join-area, .second-row{
	background-color: #000;
	margin-bottom: -1px;
}
.share-create-play {
  margin-top: 130px;
  margin-bottom: 105px;
  font-family: 'OratorStd', sans-serif;
  font-size: 80px;
}
.share-create-play ul li{
	text-transform: uppercase;
	border-right: 1px solid #fff;
}
.share-create-play ul li:last-child{
	border-right: none;
}
.share-create-play ul li a {
	margin-left: 45px;
	margin-right: 100px;
}
.share-create-play ul li:first-child a{
	margin-left: 0;
}
.share-create-play ul li:last-child a{
	margin-right: 0;
}
/*search*/
#custom-search-input {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	margin-bottom: 188px;
}
#custom-search-input .input-group-btn {
	background: #9c9999;
	width: 123px;
}
#custom-search-input .input-group-btn:hover {
	background: #b9b5b5;
}
#custom-search-input input {
	background: #1e1b16;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	height: 112px;
	font-size:30px;
}
#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}
#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}
#custom-search-input .glyphicon-search {
	color: #fff;
	font-size: 63px;
	left: 21px;
	top: 7px;
	text-shadow: 0 1px 1px #333;
}
#custom-search-input ::-webkit-input-placeholder {
	color: #fff;
	font-size: 33px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#custom-search-input :-moz-placeholder {
	color: #fff;
	font-size: 33px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#custom-search-input ::-moz-placeholder {
	color: #fff;
	font-size: 33px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
#custom-search-input :-ms-input-placeholder {
	color: #fff;
	font-size: 33px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
/*search end*/
.third-row{
	background: #000 url(../images/image-bar1.jpg);
	height: 763px;
	background-repeat: no-repeat;
	background-position: center; 
}
.experience > h3 {
	border-bottom: 2px solid #9b9c9d;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.experience {
	display: table-cell;
	height: 728px;
	vertical-align: middle;
}
.experience > p{
	font-family: 'SegoeUI-SemiBold', sans-serif;
}
.fourth-row{
	background-color: #27241E;
}
.enhance > h1 {
  margin: 113px 0 93px;
}
.middle > img, .enhance-slogan {
	margin: 0 auto;
	text-align: center;
}
.enhance-slogan {
	margin: 46px 0 153px;
	color: #9b9c9d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.fifth-row{
	background: #000 url(../images/testimonial-image.jpg);
	height: 766px;
	background-repeat: no-repeat;
	background-position: center; 
}
.sixth-row, .footer-area, .scroller2top{
	background-color: #292728;
}
.sixth-row ul li a{
	text-decoration: none;
	font-size: 18px;
	font-family: 'SegoeUI-SemiBold', sans-serif;
}
.sixth-row .contact-us h3, .sixth-row .send-message h3{
	text-transform: uppercase;
	font-size: 28px;
}
.sixth-row  .row.border-bottom{
	border-bottom: 1px solid #9c9999;
	margin-top: 161px;
} 
.sixth-row .send-message  #name{
	width: 226px;
}
.sixth-row .send-message  #email{
	width: 220px;
}
.sixth-row .send-message  #name, .sixth-row .send-message  #email, .sixth-row textarea.form-control{
	border: none;
}
.sixth-row .send-message  #name, .sixth-row .send-message  #email{
	margin-bottom: 10px;
}
.sixth-row textarea.form-control{
	margin-bottom: 10px;
}
.sixth-row .send-message  #name, 
.sixth-row .send-message  #email, 
.sixth-row textarea.form-control, 
.send-message  button[type="submit"]{
	background-color: #6a6869;
	color:#fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.sixth-row .send-message .form-control,
.send-message  button[type="submit"]{
	height: 38px;
}
.sixth-row .send-message textarea.form-control{
	height: 113px;
}
.form-group.clearfix {
  display: block;
}
.sixth-row textarea.form-control {
	height: auto;
	width: 454px !important;
}
#s::-webkit-input-placeholder {
	color: #fff;
}
 #s:-moz-placeholder {
	color: #fff;
}
 #s::-moz-placeholder {
	color: #fff;
}
 #s:-ms-input-placeholder {
	color: #fff;
}
.send-message ::-webkit-input-placeholder {
	color: #fff;
	font-size: 14px;
}
.send-message :-moz-placeholder {
	color: #fff;
	font-size: 14px;
}
.send-message ::-moz-placeholder {
	color: #fff;
	font-size: 14px;
}
.send-message :-ms-input-placeholder {
	color: #fff;
	font-size: 14px;
}
.send-message  button[type="submit"]{
	font-size: 14px;
	margin-bottom: 70px;
	padding: 6px 30px;
}
.send-message  button[type="submit"]:hover{
	background-color: #7c7a7b;
}
.contact-us .glyphicon {
  border: 1px solid #9c9999;
  border-radius: 50%;
  color: #9c9999;
  font-size: 17px;
  height: 50%;
  margin-right: 12px;
  padding: 6px;
  width: auto;
}
.footer-area p {
	font-size: 14px;
	margin-top: 55px;
	font-family: 'SegoeUI-SemiBold', sans-serif;
}
.scroller2top .glyphicon-chevron-up {
	background: #b3b3b3;
	border-radius: 3px;
	color: #292728;
	margin: 60px 0 100px;
	padding: 14px;
}
.scroller2top .glyphicon-chevron-up:hover {
	background: #e2dede;
}
/*parallax*/
.parallax {
  height: 763px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*20150607*/
.registration ul li {
  border-right: 1px solid #fff;
}
.registration ul li:last-child {
  border-right:none;
}
.registration ul li a {
  color: #fff;
  margin-left: 20px;
  margin-right: 30px;
  text-transform: uppercase;
}
.registration ul li:last-child a {
  margin-right: 0;
}
.registration ul li:first-child a {
  margin-left: 0;
}



