
@media only screen and (min-width : 320px) and (max-width : 480px) {/*--- Mobile portrait ---*/
	.bp-header {
		padding-top: 50px;
	}
	.sign-in-up {
		width: 100%;
	}
	.btn-login {
		margin-bottom: 20px;
	}
	#menu-container {
		max-width: 300px;
	}
	.date-info{
		float: none;
		margin: 0;
	}
	.date-info span{
		display: block;
		margin: 0 0 10px;
	}
	.bp-slider li img{
		min-height: 160px;
	}
	.profile-roundlogo img {
		width: 140px;
		top: -20px;
	}
	.bp-menu {
		margin-top: 146px;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.bp-menu li {
		float: none;
	}
	.music-list li a {
		width: 200px;
	}
	.music-list {
		margin-bottom: 20px;
	}
	.video-palayer {
		padding: 0;
	}
	.location-list li,
	.location-list li img  {
		width: 260px;
		height: 180px;
	}
	.map-tem p{
		font-size: 16px;
		line-height: 26px;
		margin: 0 0 10px 10px;
	}
	.state-name{
		font-size: 36px;
	}
	.btn-default {
		padding-left: 30px;
		padding-right: 30px;
	}
	.heading{
		font-size: 36px;
		line-height: 40px;
		margin: 30px;
	}
	.subscription-list li{
		width: 50%;
		height: 120px;
	}
	.more{
		margin-bottom: 20px;
	}
	.video-comment li .img-container{
		width: 25%;
	}
	.video-comment li .img-container img{
		width: 60px;
	}
	.video-comment li .img-container{
		width: 25%;
	}
	.video-comment li ul li .img-container{
		width: 60px;
		float: left;
	}
	.video-comment li ul li .img-container img{
		width: 40px;
		float: left;
	}
}

@media only screen and (min-width : 480px) and (max-width : 595px) {/*--- Mobile landscape ---*/
	.bp-header {
		padding-top: 50px;
	}
	.bp-menu {
		margin-left: 110px;
	}
	.bp-menu li a {
		font-size: 17px;
		padding: 0 10px;
	}
	.profile-roundlogo img {
		width: 100px;
		top: 10px;
	}
	.bp-social {
		margin-left: 160px;
	}
	.music-list li a{
		width: 320px;
	}
	.music-list {
		margin-bottom: 50px;
	}
	.video-palayer {
		padding: 0;
	}
	.date-info{
		float: none;
		margin: 0  0 22px;
	}
	.date-info span{
		margin: 0  10px 0 0;
	}
	
	.map-tem p{
		font-size: 22px;
		line-height: 26px;
		margin: 10px 0 10px 10px;
	}
	.categorie-list li {
		float: left;
		width: 50%;
	}
	.more{
		margin-bottom: 20px;
	}
	.video-comment li .img-container{
		width: 25%;
	}
	.video-comment li .img-container img{
		width: 60px;
	}
	.video-comment li .img-container{
		width: 25%;
	}
	.video-comment li ul li .img-container{
		width: 60px;
		float: left;
	}
	.video-comment li ul li .img-container img{
		width: 40px;
		float: left;
	}

}

@media only screen and (min-width : 595px) and (max-width : 690px) {/*--- Small tablet portrait---*/
	.date-info{
		float: none;
		margin: 0  0 22px;
	}
	.date-info span{
		margin: 0  10px 0 0;
		font-size: 16px;
	}
	.bp-menu {
		margin-left: 110px;
	}
	.bp-menu li a {
		font-size: 24px;
		padding: 0 10px;
	}
	.profile-roundlogo img {
		width: 100px;
		top: 10px;
	}
	.bp-social {
		margin-left: 300px;
	}
	.music-list li a{
		width: 440px;
	}
	.music-list {
		margin-bottom: 50px;
	}
	.video-palayer {
		padding: 0;
	}
	.categorie-list li {
		float: left;
		width: 50%;
	}
	.more{
		margin-bottom: 20px;
	}
}

@media only screen and (min-width : 690px) and (max-width : 800px) {/*--- Tablet portrait ---*/
	.footer-logo a {
		display: inline;
	}
	.profile-roundlogo img {
		width: 100px;
		top: -20px;
	}
	.bp-menu li a {
		font-size: 16px;
		padding: 0 10px;
	}
	.music-list li a {
		width: 104px;
	}
	.btn-subscribe {
		font-size: 18px;
		padding: 0 10px;
	}
	.profile-txtlogo {
		font-size: 28px;
	}
	.date-info{
		margin-top: 20px;
	}
	.date-info span {
		font-size: 16px;
		margin-left: 10px;
	}
	.location-list li,
	.location-list li img  {
		width: 320px;
		height: 200px;
	}
	.heading {
		font-size: 32px;
	}
}

@media only screen and (min-width : 800px) and (max-width : 1024px) {/*--- Small tablet landscape ---*/
	.footer-logo a {
		display: inline;
	}
	.profile-roundlogo img {
		width: 100px;
		top: -20px;
	}
	.bp-menu li a {
		font-size: 16px;
		padding: 0 10px;
	}
	.music-list li a {
		width: 104px;
	}
	.btn-subscribe {
		font-size: 18px;
		padding: 0 10px;
	}
	.profile-txtlogo {
		font-size: 28px;
	}
	.date-info{
		margin-top: 20px;
	}
	.date-info span {
		font-size: 16px;
		margin-left: 10px;
	}
	.location-list li,
	.location-list li img  {
		width: 320px;
		height: 200px;
	}
	.heading {
		font-size: 32px;
	}
}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */
	.bp-menu li a {
		padding: 0 15px;
	}
	.btn-subscribe {
		font-size: 18px;
		padding: 0 15px;
	}
	.music-list li a{
		width: 176px;
	}
	.location-list li,
	.location-list li img  {
		width: 288px;
	}

}

@media only screen and (min-width : 2000px)  {/*--- Big monitor --- */
	#business_profile .container,
	#vidoe_page .container{
		width: 1900px;
	}
}