 @media only screen and (min-width : 320px) and (max-width : 480px) {
 h1, .h1{
  font-size: 32px;
  line-height: 36px;
}
h2, .h2{
  font-size: 30px;
  line-height: 36px;
}
 h3, .h3{
  font-size: 30px;
  line-height: 36px;
}
 .top-title {
  font-size: 38px;
  height: 90px;
  padding-top: 17px;
}
.join-free button {
  font-size: 30px;
  margin-top: 40px;
}
.join-free button:hover, .join-free button:focus, .join-free button:active {
  font-size: 30px;
}
.join-free {
  margin-bottom: 40px;
}
.second-row {
  height: 100px;
  background-size: 100%;
}
.share-create-play {
  font-size: 22px;
  margin-bottom: 48px;
  margin-top: 20px;
}
.share-create-play ul li a {
  margin-left: 1px;
  margin-right: 10px;
}
#custom-search-input input {
  color: #fff;
  font-size: 20px;
  height: 52px;
}
#custom-search-input {
  margin-bottom: 10px;
}
#custom-search-input .input-group-btn {
  width: 60px;
}
#custom-search-input .glyphicon-search {
  font-size: 32px;
  left: 7px;
  top: 1px;
}
#custom-search-input ::-webkit-input-placeholder {
  font-size: 16px;
}
#custom-search-input ::-moz-placeholder {
  font-size: 16px;
}
#custom-search-input :-ms-input-placeholder {
  font-size: 16px;
}
#custom-search-input *::-moz-placeholder {
  font-size: 16px;
}
.sixth-row .send-message #email {
  width: 227px;
}
.experience > h3 {
  margin-top: 0;
}
.experience > p {
  font-size: 18px;
}
.parallax {
  height: 463px;
}
.experience {
  height: 428px;
}
.enhance > h1 {
  margin: 40px 0 50px;
  padding: 0 10px;
}
.enhance-slogan {
  margin: 5px 0 40px;
}
.fifth-row.parallax{
  height: 150px;
}
.sixth-row .row.border-bottom {
  margin-top: 0;
}
.sixth-row ul li a {
  font-size: 14px;
}
.sixth-row textarea.form-control {
  width: 290px !important;
}
.footer-area p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.text-right > p {
  float: left;
}
.scroller2top .glyphicon-chevron-up {
  margin: 20px 0 30px;
}
/*20150607*/
.registration {
  text-align: center;
  font-size: 20px;
}


/*320*/}
 @media only screen and (min-width : 480px) and (max-width : 595px) {
h1, .h1{
  font-size: 32px;
  line-height: 36px;
}
h2, .h2{
  font-size: 30px;
  line-height: 36px;
}
 h3, .h3{
  font-size: 30px;
  line-height: 36px;
}
 .top-title {
  font-size: 38px;
  height: 90px;
  padding-top: 17px;
}
.join-free button {
  font-size: 30px;
  margin-top: 40px;
}
.join-free button:hover, .join-free button:focus, .join-free button:active {
  font-size: 30px;
}
.join-free {
  margin-bottom: 40px;
}
.second-row {
  height: 100px;
  background-size: 100%;
}
.share-create-play {
  font-size: 22px;
  margin-bottom: 48px;
  margin-top: 20px;
}
.share-create-play ul li a {
  margin-left: 1px;
  margin-right: 10px;
}
#custom-search-input input {
  font-size: 20px;
  height: 52px;
  width: 389px;
}
#custom-search-input {
  margin-bottom: 10px;
}
#custom-search-input .input-group-btn {
  width: 60px;
}
#custom-search-input .glyphicon-search {
  font-size: 32px;
  left: 7px;
  top: 1px;
}
#custom-search-input ::-webkit-input-placeholder {
  font-size: 16px;
}
#custom-search-input ::-moz-placeholder {
  font-size: 16px;
}
#custom-search-input :-ms-input-placeholder {
  font-size: 16px;
}
#custom-search-input *::-moz-placeholder {
  font-size: 16px;
}
.sixth-row .send-message #email {
  width: 227px;
}
.experience > h3 {
  margin-top: 0;
}
.experience > p {
  font-size: 18px;
}
.parallax {
  height: 463px;
}
.experience {
  height: 428px;
}
.enhance > h1 {
  margin: 40px 0 50px;
  padding: 0 20px;
}
.enhance-slogan {
  margin: 5px 0 40px;
}
.fifth-row.parallax{
  height: 170px;
}
.sixth-row .row.border-bottom {
  margin-top: 0;
}
.sixth-row ul li a {
  font-size: 14px;
}
.sixth-row textarea.form-control {
  width: 290px !important;
}
.footer-area p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.text-right > p {
  float: left;
}
.scroller2top .glyphicon-chevron-up {
  margin: 20px 0 30px;
}
/*20150607*/
.registration {
  text-align: center;
  font-size: 20px;
}
 
 
/*480*/}
 @media only screen and (min-width : 595px) and (max-width : 690px) {/*--- (600x800) ---*/
h1, .h1{
  font-size: 32px;
  line-height: 36px;
}
h2, .h2{
  font-size: 30px;
  line-height: 36px;
}
 h3, .h3{
  font-size: 30px;
  line-height: 36px;
}
 .top-title {
  font-size: 38px;
  height: 90px;
  padding-top: 17px;
}
.join-free button {
  font-size: 30px;
  margin-top: 40px;
}
.join-free button:hover, .join-free button:focus, .join-free button:active {
  font-size: 30px;
}
.join-free {
  margin-bottom: 40px;
}
.second-row {
  height: 100px;
  background-size: 100%;
}
.share-create-play {
  font-size: 40px;
  margin-bottom: 48px;
  margin-top: 45px;
}
.share-create-play ul li a {
  margin-left: 1px;
  margin-right: 23px;
}
#custom-search-input input {
  color: #fff;
  font-size: 20px;
  height: 52px;
  width: 508px;
}
#custom-search-input {
  margin-bottom: 10px;
}
#custom-search-input .input-group-btn {
  width: 60px;
}
#custom-search-input .glyphicon-search {
  font-size: 32px;
  left: 7px;
  top: 1px;
}
#custom-search-input ::-webkit-input-placeholder {
  font-size: 16px;
}
#custom-search-input ::-moz-placeholder {
  font-size: 16px;
}
#custom-search-input :-ms-input-placeholder {
  font-size: 16px;
}
#custom-search-input *::-moz-placeholder {
  font-size: 16px;
}
.sixth-row .send-message #email {
  width: 227px;
}
.experience > h3 {
  margin-top: 0;
}
.experience > p {
  font-size: 18px;
}
.parallax {
  height: 463px;
}
.experience {
  height: 428px;
}
.enhance > h1 {
  margin: 40px 0 50px;
  padding: 0 20px;
}
.enhance-slogan {
  margin: 5px 0 40px;
}
.fifth-row.parallax{
  height: 300px;
}
.sixth-row .row.border-bottom {
  margin-top: 0;
}
.sixth-row ul li a {
  font-size: 14px;
}
.sixth-row textarea.form-control {
  width: 290px !important;
}
.footer-area p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.text-right > p {
  float: left;
}
.scroller2top .glyphicon-chevron-up {
  margin: 20px 0 30px;
}
/*.third-row, .fifth-row {
  background-size: 800px auto !important;
}*/
/*20150607*/
.registration {
  text-align: center;
  font-size: 20px;
}

/*600px*/}
 @media only screen and (min-width : 690px) and (max-width : 800px) {/*--- Tablet portrait (768x1024) ---*/
.top-title {
  font-size: 55px;
  height: 150px;
  padding-top: 30px;
}
.join-free button {
  margin-top: 75px;
  margin-bottom: 15px;
}
.second-row {
  background-size: 100% auto;
  height: 300px;
}
.share-create-play {
  font-size: 35px;
  margin-bottom: 80px;
  margin-top: 10px;
}
.share-create-play ul li a {
  margin-left: 27px;
  margin-right: 46px;
}
.share-create-play ul li a {
  margin-right: 46px;
}
#custom-search-input input {
  height: 75px;
  width: 595px;
  color: #fff;
}
#custom-search-input {
  margin-bottom: 85px;
}
.enhance > h1 {
  font-size: 45px;
  margin: 30px 0 60px;
  padding: 0 20px;
}
.enhance-slogan {
  margin: 3px 0 45px;
}
.sixth-row textarea.form-control {
  width: 285px !important;
}
.sixth-row .send-message #email {
  width: 227px;
}
.send-message button[type="submit"] {
  margin-bottom: 25px;
}
.sixth-row .row.border-bottom {
  margin-top: 0;
}
.sixth-row .contact-us h3, .sixth-row .send-message h3 {
  font-size: 27px;
}
.scroller2top .glyphicon-chevron-up {
  margin: 0 0 50px;
}
.footer-area p {
  margin-top: 12px;
}


/*768px*/}
 @media only screen and (min-width : 800px) and (max-width : 1024px) {/*--- Small tablet landscape 800x600 ---*/
.top-title {
  font-size: 55px;
  height: 150px;
  padding-top: 30px;
}
.join-free button {
  margin-top: 75px;
  margin-bottom: 15px;
}
.second-row {
  background-size: 100% auto;
  height: 300px;
}
.share-create-play {
  font-size: 35px;
  margin-bottom: 80px;
  margin-top: 10px;
}
.share-create-play ul li a {
  margin-left: 27px;
  margin-right: 46px;
}
.share-create-play ul li a {
  margin-right: 46px;
}
#custom-search-input input {
  height: 76px;
  width: 100%;
  color: #fff;
}
#custom-search-input {
  margin-bottom: 85px;
}
.enhance > h1 {
  font-size: 45px;
  margin: 80px 0 60px;
  padding: 0 20px;
}
.enhance-slogan {
  margin: 3px 0 45px;
}
.sixth-row textarea.form-control {
  width: 285px !important;
}
.sixth-row .send-message #email {
  width: 227px;
}
.send-message button[type="submit"] {
  margin-bottom: 25px;
}
.sixth-row .row.border-bottom {
  margin-top: 0;
}
.sixth-row .contact-us h3, .sixth-row .send-message h3 {
  font-size: 27px;
}
.scroller2top .glyphicon-chevron-up {
  margin: 0 0 50px;
}
.footer-area p {
  margin-top: 12px;
}

 
/*800px*/}
 @media only screen and (min-width : 1024px) and (max-width : 1224px) {/*--- Tablet landscape --- */
.second-row {
  background-size: 100% auto;
  height: 350px;
}
.share-create-play {
  font-size: 50px;
  margin-bottom: 105px;
  margin-top: 20px;
}
.enhance > h1 {
  padding: 0 20px;
}
.enhance-slogan {
  margin: 46px 0 80px;
}
.sixth-row .row.border-bottom {
  margin-top: 30px;
}
.sixth-row .send-message #email {
  width: 227px;
}
.send-message button[type="submit"] {
  margin-bottom: 45px;
}
.footer-area p {
  margin-top: 25px;
}
.sixth-row textarea.form-control {;
  width: 354px !important;
}
.scroller2top .glyphicon-chevron-up {
  margin: 25px 0 50px;
}
 
/*1024px*/}

/*iPhone*/
@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { /*iPhone6+ Styles*/
#custom-search-input input {
  width: 322px;
}
}
@media only screen and (min-device-width: 374px) and (max-device-width: 376px) { /*iPhone6 Styles*/
#custom-search-input input {
  width: 283px;
}
}

@media only screen and (min-device-width: 666px) and (max-device-width: 668px) { /*iPhone6 Styles landscape custom*/
#custom-search-input input {
  width: 575px;
}
}

@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { /*iPhone6+ Alt Styles*/
#custom-search-input input {
  width: 268px;
}
}

@media only screen 
and (min-device-width : 567px) 
and (max-device-width : 569px) 
and (orientation : landscape) { /* iPhone5 */
#custom-search-input input {
  width: 476px;
}

}


@media only screen and (min-width : 2000px)  {/*--- Big monitor --- */
.container{
	width: 1900px;
}

}