@charset "utf-8";
/* CSS Document */

/*
=====================================================================
*   airvuze custom Stylesheet
*   url: airvuze.com
*   04-05-2015
=====================================================================

TOC:
a. Reset
   1. @font-face	
b. Enter site page
c. Business Profile
d. Heat-Map
e. tag-search
f. video-page
z. common



=====================================================================  */

/* ------------------------------------------------------------------ */
/* a. Reset and @font-face
 ------------------------------------------------------------------ */
 
/* -------font-face------- */
@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/DIN-Light.woff') format('woff'), url('../fonts/DIN-Light.ttf')  format('truetype'), url('../fonts/DIN-Light.svg#DIN-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------Reset css---------*/ 
body {
	font-family: 'DIN-Light';
	font-size: 26px;
	text-align:left;
	background:#ebe2cd url(../images/bg-body.jpg) repeat-x;
}

*{outline:none;margin:0;padding:0;}
img, fieldset {border:0;}
a {text-decoration:none;}
a:hover,
a:focus,
a:active{color: #00b7e4 !important;}
h1, h2, h3, h4, h5, h6, p, ul, a {margin:0;padding:0;}
a:focus,
.btn:focus,
.btn:active:focus{outline:none;}




/* ------------------------------------------------------------------ */
/* b. Enter site page
 ------------------------------------------------------------------ */
 
.bg-ep {
	padding-top: 30px;
	height: 1800px;
	background-image: url(../images/bg-image-ep.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.logo {
	float: left;
	margin-left: 50px;
}
.logo img{
	float: left;
}
#logo_text{
	float: left;
	display: none;
	margin: 10px 0 0 20px;
}
.top-right {
	float: right;
}
.icon-main-nav {
	float: right;
	margin-left: 20px;
	position: relative;
}
.icon-main-nav img{
	cursor: pointer;
}
#menu-container {
	width: 400px;
	position: absolute;
	top: 60px;
	right: -15px;
	z-index: 3;
	background: #373633;
	display: none;
}
/*------ main-nav ------*/
.main-nav {
	padding: 40px;
}
.main-nav li{
	list-style: none;
	margin-bottom: 15px;
}
.main-nav li a{
	color: #fff;
}
.main-nav li a:hover,
.main-nav li a:active{
	text-decoration: none;
}
/*------ toggle-login ------*/
.toggle-login{
	padding: 40px;
	background: #00b7e4;
}
.toggle-login h3 {
	color: #414042;
	font-size: 16px;
	margin-bottom: 20px;
}
.toggle-login .form-control {
	border: 2px solid #434244;
	border-radius: 0;
	background-color: transparent;
}
.profile-img {
	margin-top: 30px;
}
/*------ temperature ------*/
.temperature{
	padding: 100px 40px;
	text-align: center;
	background: url(../images/bg-temperature.jpg) repeat-x;
}
.temperature h2 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 20px;
}
.temperature h3 {
	font-size: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.temperature h3 img {
	display: inline-block;
	margin-right: 10px;
}
/*------ icon-search------*/
.icon-search {
	float: left;
	font-size: 40px;
	color: #434244;
}
.icon-search {
	float: left;
	font-size: 40px;
	color: #434244;
	position: relative;
}	
.icon-search .glyphicon-search{
	cursor: pointer;
}
.search-fld {
	position: absolute;
	right:0;
	top: 10px;
	display: none;
	z-index: 1;
	
}
.search-fld .form-control{
	width: 220px;
	border: none;
	background-color: #fff;
	font-size: 20px;
}
/*------ sign-in-up------*/
.sign-in-up {
	width: 420px;
	margin: 4% auto 0;	
	text-align: center;
} 
.sign-in-up p {
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 40px;	
}
.sign-in-up .btn {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 40px;
	color: #ffffff;
	border-radius: 0;
	border: 8px solid  #ffffff;
}
.btn-login { 
	margin-right: 20px;
	background:url(../images/bg-btnlogin.jpg) repeat-x;	
}
.btn-signup { 
	background:url(../images/btn-signup.jpg) repeat-x;	
}
.skip { 
	font-size: 50px;
	color: #ffffff;
	margin-top: 40px;
	display: inline-block;
	padding-right: 60px;
	background:url(../images/arow.png) no-repeat right 26px;
}
.skip:hover { 
	color: #ffffff;
	text-decoration: none;
}
 /* -----ep-bottom--------*/
.ep-bottom{
	min-height: 800px;
	padding-top: 200px;
}
 /* ---footer-menu-----*/
.footer-menu li{
	list-style: none;
	margin-bottom: 20px;
}
.footer-menu li a{
	color: #414042;
	line-height: 38px;
}
.footer-logo {
	width: 100%;
	margin-bottom: 30px;
	text-align: right;
}
.footer-logo a {
	display: inline-block;
}
/* ---login-frm-----*/
.login-frm h3 {
	color: #414042;
	font-size: 30px;
	margin-bottom: 20px;
}
.login-frm .form-control {
	border-color: #999999;
	border-radius: 0;
	background-color: transparent;
}



 /* ------------------------------------------------------------------ */
/* c. Business Profile
 ------------------------------------------------------------------ */
.bg-business-profile {
	padding-bottom: 300px;
	background: url(../images/bg-business-profile.png) no-repeat bottom center;
}
.bp-header {
	padding-top: 0;
}
.profile-txtlogo {
	color: #0b0233;
	font-size: 36px;
	margin: 20px 0;
	display: inline-block;
}
.profile-txtlogo:hover {
	text-decoration: none;
}
.date-info{
	float: right;
	margin-top: 30px;
}
.date-info span{
	font-size: 18px;
	display: inline-block;
	margin-left: 20px;
}
/*---banner---*/
#banner{
	background: #fff;
	margin-bottom: 100px;
}
.bp-slider li {
	list-style: none;
	position: relative;
}
.bp-slider li a.edit-profile {
	color: #434244;
	padding: 10px 30px;
	background: #00b7e4;
	position: absolute;
	top: 0;
	right: 0;
}
.bp-slider li a.edit-profile:hover {
	color: #434244 !important;
	text-decoration: none;
}

.profile-roundlogo {
	position: relative;
}
.profile-roundlogo img{
	width: 140px;
	height: 140px;
	position: absolute;
	border-radius: 50%;
	top: -30px;
	left: 30px;
}
.bp-menu li {
	list-style: none;
	float: left;
}
.bp-menu li a {
	color: #434244;
	line-height: 60px;
	padding: 0 20px;
}
.bp-menu li a:hvoer {
	text-decoration: none;
}
.btn-subscribe {
	color: #00b7e4;
	font-weight: bold;
	line-height: 60px;
	padding: 0 20px;
	background: #414042;
	float: right;
}
.bp-social {
	float: left;
	margin-top: 8px;
}
.bp-social a .glyphicon {
	margin-top: 6px;
}
.bp-social a {
	float: left;
	color: #414042;
	padding: 0 10px;
}
/*---music-player---*/
.music-head {
	background: #fff;
	padding: 15px;
}
.music-head .glyphicon-music {
	float: left;
	margin-right: 20px;
}
.music-head .glyphicon-chevron-down {
	float: right;
}

.bp-search {
	background: #a6a8aa;
	padding: 10px;
}
.bp-search .form-control {
	background-color: transparent;
	border: none;
	font-size: 26px;
	font-weight: bold;
	color: #414042;
	box-shadow: none;
}
.bp-search .btn-default {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #414042;
}
.bp-search .btn-default:focus,
.bp-search .btn-default:active{
	box-shadow: none;
}

/*-----player-------*/
.player{
	margin-bottom: 100px;
}
.music-list {
	width: 100%;
	background: #434244;
	padding: 20px;
}
.music-list li {
	list-style: none;
	padding: 5px 10px;
	height: 50px;
	overflow: hidden;
}
.music-list li a {
	width: 240px;
	float:left;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 40px;
	background: url(../images/icon-music.png) no-repeat right center;
}
.music-list li.music-active a,
.music-list li  a:hover {
	color: #f5a156 !important;
	background: url(../images/iocn-music-active.png) no-repeat right center;
}
.music-list li .glyphicon{
	width: 18px;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin-top: 12px;
}
.music-list li.music-active .glyphicon{
	color: #f5a156;
}
.music-list li .glyphicon-plus,
.music-list li .glyphicon-remove {
	float: left;
	margin-right: 10px;
}
.music-list li .glyphicon-play,
.music-list li .glyphicon-pause {
	float: right;
	margin-left: 10px;
}
/*---video-palayer----*/
.video-palayer {
	padding-left: 50px;
}
.video-list h3{
	font-weight: bold;
	margin-left: 10px;
}

.video-list a{
	float: left;
	margin: 10px;
}
.video-list a img{
	width: 200px;
}



/* ------------------------------------------------------------------ */
/* a. Heat-Map
 ------------------------------------------------------------------ */
.bg-hat-map {
	padding-bottom: 300px;
	background:url(../images/bg-heat-map.jpg) no-repeat bottom center;
}
.map-header {
	padding-top: 30px;
	padding-bottom: 30px;
}
.map {
	position: relative;
	margin-bottom: 50px;
}
.bg-mapsearch{
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0,0,0,0.5);
}
.map-search {
	width: 240px;
	float: left;
	background: #c8c7c3;
	padding: 10px;
	height:60px;
}
.map-search .form-control {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #414042;
	box-shadow: none;
}
.map-search  .btn-default {
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #414042;
}
.map-search  .btn-default:focus,
.map-search  .btn-default:active{
	box-shadow: none;
}
.map-social {
	float: left;
}
.map-social a {
	line-height: 60px;
	margin-left: 30px;
}
.map-tem{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: rgba(255,255,255,0.5);
}
.map-status{
	background: #00b7e4;
	padding: 0 20px 0 50px;
	line-height: 60px;
	color: #ffffff;
	float: left;
}
.map-tem p {
	float: left;
	line-height: 60px;
	color: #434244;
	margin-left: 30px;
}
.location-select {
	margin-bottom: 30px;
}
.state-name {
	float: left;
	color: #434244;
	font-size: 40px;
	line-height: 60px;
}
.state-name .glyphicon {
	font-size: 24px;
	font-weight: normal;
	line-height: 60px;
	margin-left: 20px;
}
.state-right {
	float: right;
}
.state-right {
	 margin-top: 20px;
}
.sort-by{
	float: left;
	margin-right: 20px;
	position: relative;
}
.sort-by .dropdown-menu{
	display: block;
	margin: 0;
	border-color: #fff;
	border-radius: 0;
	min-width: 174px;
	text-align: center;	
	padding: 10px 20px;
	z-index: 2;
}
.sort-by .dropdown-menu li a{
	font-size: 18px;
	color: #a6a8aa;
}
.sort-by .dropdown-menu li a:hover{
	background: none;
	color: #434244 !important;
}
.sort-by  .btn-default {
	border: 1px solid #ffffff;
	border-radius: 0;
	background: #ededdc;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
	color: #434244;
}	
.sort-by  .btn-default .glyphicon{
	font-weight: normal;
	color: #a6a8aa;
	margin: 0 0 0 10px;
}
.loc-close{
	font-weight: bold;
	color: #434244;
	float: right;
	margin: 5px 0 0 20px;
}
.location-list {
	display: inline-block;
	margin: 30px 0 30px 15px;
}
.location-list li {
	list-style: none;
	width: 300px;
	height: 160px;
	float: left;
	position: relative;
	margin: 10px;
}
.location-list li img {
	width: 300px;
	height: 160px;
}
.location-captaion {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;	
	padding: 40px 0 0 30px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
}
.location-captaion h3 {
	color: #fff;
	margin-bottom: 10px;
}
.location-captaion .loc-name {
	color: #fff;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	padding-left: 35px;
	background:url(../images/man-icon.png) no-repeat left center;
}
.location-captaion .loc-view {
	color: #fff;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	padding-left: 45px;
	background:url(../images/icon-view.png) no-repeat left center;
}



 /* ------------------------------------------------------------------ */
/* z. tag-search
 ------------------------------------------------------------------ */
 
.bg-tag-search {
	padding-bottom: 600px;
	background: url(../images/bg-tag-search.jpg) no-repeat bottom center;
}
.search-head {
	color: #434244;
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
}
.subscription-list {
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}

.subscription-list li{
	list-style: none;
	width: 25%;
	float: left;
	max-height: 200px;
	overflow: hidden;
}

.subscription-list li img{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.check-out {
	color: #f5a156;
	text-decoration: underline;
	font-weight: 700;
	line-height: 60px;
	float: right;
	margin: 100px 50px 0 0;
}
.more{
	font-size: 24px;
	color: #3e3d3e;
	display: inline-block;
}
.categorie-heading{
	padding: 10px;
	background: #ffffff;
}
.cat-left{
	margin-left: -15px;
	margin-right: 20px;
}
.cat-left h3{
	padding-left: 50px;
	font-size: 20px;
	line-height: 60px;
	margin-bottom: 20px;
}
.categories-search{
	margin-bottom: 100px;
	margin-left: 50px;
}
.categorie-list li{
	list-style: none;
}
.categorie-list li img{
	width: 100%;
}
.categories-search-list{
	background: #fff;
	padding: 10px 10px 10px 50px;
}
.categories-search-list li{
	list-style: none;
}
.categories-search-list li a{
	color: #3e3d3e;
	font-size: 20px;
}
.categories-search-list li a:hover{
	color: #a6a8aa !important;
	text-decoration: none;
}
.tag-search {
	width: 100%;
	background: #434244;
	padding: 10px 10px 10px 50px;
}
.tag-search .form-control {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	color: #cfd5dc;
	box-shadow: none;
}
.tag-search .btn-default {
	background-color: transparent;
	border: none;
	font-size: 18px;
	font-weight: bold;
	color: #cfd5dc;
}
.tag-search .btn-default:focus,
.tag-search  .btn-default:active{
	box-shadow: none;
}

 /* ------------------------------------------------------------------ */
/* f. video-page
 ------------------------------------------------------------------ */
.video-player {
	margin-bottom: 50px;
}
.video-head {
	margin-bottom: 50px;
}
.video-head  h3{
	font-size: 36px;
	color: #434244;
    font-size: 40px;
    line-height: 60px;
	font-weight: bold;
}
.video-head p a{
	color: #434244;
	font-size: 24px;
}
.video-head p a .glyphicon {
	font-size: 20px;
}
.video-menu{
	padding-left: 120px;
	position: relative;	
	background: #ffffff;
	margin-bottom: 50px;
}
.user-img {
	position: absolute;
	top: -20px;
	left: 10px;
}
.user-img  img {
	width: 100px;
}
.video-menu ul li {
	float: left;
	list-style: none;
	margin: 0 10px;
}
.video-menu ul li a {
	font-size: 20px;
	float: left;
	color: #414042;
	line-height: 60px;
}
.video-menu ul li a .glyphicon {
	color: #00b7e4;
}
.skills{
	background: url("../images/man-icon.png") no-repeat left center;
	padding-left: 35px;
}
.views {
    background: url("../images/icon-view.png") no-repeat  left center;
    padding-left: 45px;
}
.like {
    background: url("../images/icon-like.png") no-repeat  left center;
    padding-left: 35px;
}
.video-comment ul {
	width: 100%;
	overflow: hidden;
}
.video-comment li{
	width: 100%;
	list-style: none;
	margin-bottom: 20px;
	overflow: hidden;
}
.video-comment li .img-container{
	width: 110px;
	float: left;
}
.video-comment li .img-container img{
	width: 80px;
	float: left;
}
.video-comment li .comment-container {
	float: left;
}
.video-comment li .comment-container h3 {
	font-weight: bold;
}
.video-comment li .comment-container p {
	font-size: 24px;
}
.video-comment li .comment-container p a {
	color: #00b7e4;
}
.video-comment li ul{
	padding:10px 0  10px 60px
}
.video-comment li ul li .img-container{
	width: 90px;
	float: left;
}
.video-comment li ul li .img-container img{
	width: 60px;
	float: left;
}
.frm-comment {
	position: relative;
}
.frm-comment .form-control{
	width: 100%;
	color: #414042;
	height: 90px;
	border-radius: 0;
	resize: none;
	overflow: hidden;
	border: 1px solid #a7a9ac;
}
.video-comment li.row{
	margin:0 0 50px;
}
.img-container.col-xs-3{
	padding:0;
	max-width: 110px;
}
.comment-container.col-xs-9{
	padding:0;
}
.frm-comment .btn{
	color: #999999;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px 30px;
	border-radius: 0;
	border: 1px solid #a7a9ac;
}
.recommended-videos .categorie-heading {
	font-weight: bold;
	line-height: 60px;
	padding: 0 25px;
}
.recommended-videos .categorie-heading .glyphicon{
	float: right;	
	line-height: 60px;
}
.recommended-list {
	margin: 0;
}
.recommended-list li{
	margin: 10px 0;
	width: 100%;
	height: 200px;
	position: relative;
	list-style: none;
}
.recommended-list li img{
	width: 100%;
	height: 200px;
}
.recommended-videos .more {
	margin-left: 20px;
}


 /* ------------------------------------------------------------------ */
/* z. Common css
 ------------------------------------------------------------------ */

.heading{
	font-size: 36px;
	color: #434244;
    font-size: 40px;
    line-height: 60px;
	margin-bottom: 20px;
}

.passcode{
	padding-left: 25%;
  	padding-right: 25%;
  	margin-bottom: 20%;
}

.editProfile{
	padding-left: 25%;
  	padding-right: 25%;
  	margin-bottom: 4%;
}
 
 
 /* ---------------------------
  * Addition from Shariar Shaikot
  * -------------------------- */

  .profile-roundlogo img:hover {
  	opacity: 0.8;
  	background-image: url('../images/compact_camera.png') !important;
  	background-repeat: no-repeat !important;
  	background-position: center !important;
  }

  .profile-roundlogo input {
    top: -30;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    height: 70px;
    width: 150px;
}

.banner {}

.banner input {
    top: -30;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    position: absolute;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
}


.video-btn {
	margin-left: 10px;
	padding: 5px 10px 5px 36px;
	border-radius: 0px;
	border: 3px solid gray;
	background-color: #FAFAFA;
	background-image: url('../images/upload2.png');
	background-position: 5px;
	background-repeat: no-repeat;
	background-size: 24px;
}

.choose-vdo {
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0px;
	border: 3px solid gray;
	background-color: #FAFAFA;
	text-align: center;
}

.choose-vdo input {
    top: -30;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    position: absolute;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    height: 100%;
    width: 100%;
}