<div style="padding: 60px">
	<h1 style="text-align:center;margin-bottom:100px;">{{home}}</h1>

	<button class="btn btn-success" ng-click="video_info()">Information</button>
	<button class="btn btn-success" ng-click="mute_audio()">Mute Audio</button>
	<button class="btn btn-success" ng-click="remove_video()">Remove Video</button>
	<button class="btn btn-success" ng-click="video_thumbnail()">Thumbnail</button>
	<button class="btn btn-success" ng-click="crop_video()">Crop Video</button>
	<button class="btn btn-success" ng-click="fade_in()">Fade In</button>
	<button class="btn btn-success" ng-click="fade_out()">Fade Out</button>

	<button class="btn btn-danger" ng-click="video_text()">Text Add</button>
	<button class="btn btn-danger">Add Audio</button>
	<button class="btn btn-danger" ng-click="watermark()">Watermark</button>
	<button class="btn btn-danger">Effect</button>
</div>
