<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Online Video Editor</title>


  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- airvuz custom css -->
  <link href="css/style.css" rel="stylesheet">
  <!-- airvuz responsive css -->
  <link href="css/media-query.css" rel="stylesheet">
 <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>


</head>
 <!--controller in mixed controller-->
<body>

  <div data-ng-include="'/views/header.html'" >

  </div> 
   
  <div class="col-lg-12 noPadding" >   
  
      <div data-ng-view>
      
      </div>  
    
    
  </div>

  <div data-ng-include="'/views/footer.html'" >

  </div> 
    


</body>

<script type="text/javascript" src="/lib/jquery/jquery.js"></script>


<script type="text/javascript">
    window.user= <%if(user!='null' && user!='guest'){%>
      <%- JSON.stringify(user)%>
      <%}else{%>
        null
    <%}%>;

</script>

<script src="/lib/jquery-ui/jquery-ui.min.js"></script>

<!--BootStrap-->
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.js"></script>

<!--jquery notify-->
<script type="text/javascript" src="/lib/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/lib/noty/layouts/bottomLeft.js"></script>
<script type="text/javascript" src="/lib/noty/layouts/bottomRight.js"></script>
<script type="text/javascript" src="/lib/noty/themes/default.js"></script>

<!--underscore-->
<script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>

<!--AngularJS-->
<script src="/js/angular-file-upload-shim.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src='/lib/angular-route/angular-route.js'></script>
<script type="text/javascript" src="/lib/angular-ui-utils/modules/route.js"></script>

<!--Angular UI-->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

 

<!--Application Init-->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directive.js"></script>

<!-- File Upload Angular Module -->
<script src="/js/angular-file-upload.js"></script>
<!--Application Services-->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/profileView.js"></script>
<script type="text/javascript" src="/js/services/sharedService.js"></script>

<!--Angular Application Custom Controllers-->
<script type="text/javascript" src="/js/controllers/homeController.js"></script>
<script type="text/javascript" src="/js/controllers/headerController.js"></script>


<script type="text/javascript" src="/js/init.js"></script>
<script src="js/custom.js"></script>



</html>

