<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Video Editor</title>
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
   
    

</head>


<body ng-app="landingPage" ng-controller="landingCtrl">
 
      <section class="first-row">
            <div id="top-row" class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: #fff;">
                        <div class="top-title text-center">Online Video Editor</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="registration text-right">
                            <ul class="list-unstyled list-inline" style="font-size:29px;">
                                <li><a href="#" data-toggle="modal" data-target="#signIn">sign in</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#myModal">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>  
     </section>
     
 <div ng-hide="check"> 
      <section class="join-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="join-free text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" >Join Free</button>
                        </div>
                    </div>
                </div>  
            </div>
      </section> 


      <section class="second-row">
            <div id="logo-row" class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                </div>  
            </div>
      </section>
      
      <section class="share-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="share-create-play text-center">
                        <ul class="list-unstyled list-inline">
                            <li><a href="#">Share</a></li>
                            <li><a href="#">Create</a></li>
                            <li><a href="#">Play</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Enter Search content" ng-model="search_item" name="search_item1"/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" ng-click="test(search_item)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="third-row parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="experience text-center">
                        <h3 style="font-size: 50px;color: #fff;">maximise your experience</h3>
                        <p style="font-size: 29px;color: #fff;">Lorem ipsum dolor sit amet, purto legimus duo et, graeco evertitur scriptorem
                            quo in. Ex eos minim assentior. Ea alia iisque eos. Cum ne denique voluptua.
                            Te pri veri reprimique dissentiet, pri id facer putant. Vis legere
                            molestie prodesset ut. Ferri omnium ea vix.</p>
                    </div>
                </div>
            </div>
        </div> 
    </section> 

    <section class="fourth-row">
        <div class="container">
            <div class="row">
                <div class="enhance text-center">
                    <h1>ENHANCE THE WAY YOU SHARE ANY CONTENT!</h1>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 middle">
                    <img class="img-responsive" src="images/money.png" alt="" />
                    <div class="enhance-slogan">Earn Money!</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 middle">
                    <img class="img-responsive" src="images/share.png" alt="" />
                    <div class="enhance-slogan">Share Faster!</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 middle">
                    <img class="img-responsive" src="images/analyze.png" alt="" />
                    <div class="enhance-slogan">Analyze Better!</div>
                </div>
            </div>
        </div> 
    </section>

    <section class="fifth-row parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
            </div>
        </div> 
    </section> 

    <section class="sixth-row">
        <div class="container">
            <div class="row border-bottom">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="contact-us">
                        <h3>contact us</h3>
                        <ul class="list-unstyled">
                            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><a href="#">Address: 1123 South Street, New York</a></li>
                            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="tel:+001 3356 8872">Phone:  +001 3356 8872</a></li>
                            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:isiftcontent@gmail.com">Mail: isiftcontent@gmail.com</a></li>
                            <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><a href="#">Active 24 hours</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="send-message">
                        <h3>send us a message</h3>
                            <form class="form-inline" method="post" action="/sendMessage">
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="messageName">
                                  </div>
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="messageEmail">
                                  </div>
                                  <div class="form-group clearfix">
                                    <textarea class="form-control" placeholder="Write your message here" rows="2" ng-model="message"></textarea>
                                  </div>
                                  
                                  <button type="submit" class="btn btn-default">Send</button>
                            </form>
                    </div>
                </div>
            </div>
        </div> 
    </section> 

    <section class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                    <p>&copy; Copyright All Rights Reserved 2015</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                    <!-- <p>Site Design & Developed By MbK</p> -->
                </div>
            </div>
        </div> 
    </section> 

    <section class="scroller2top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="#" class="top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
                </div>
            </div>
        </div> 
    </section>  
  


<!-- Modal Registration -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Registration</h4>
      </div>
      <div class="modal-body">

                <div class="row centered-form">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                                <form role="form" method="POST" ng-submit="registration()">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" ng-model="first_name" class="form-control input-sm" placeholder="First Name" required />
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" ng-model="last_name" class="form-control input-sm" placeholder="Last Name"  />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" ng-model="user_name" class="form-control input-sm" placeholder="User Name" required />
                                            </div>
                                        </div>


                                    </div>


                                    <div class="form-group">
                                        <input type="email" ng-model="email" id="email" class="form-control input-sm" placeholder="Email Address" required />
                                    </div>


                                    <div class="form-group">
                                       
                                        <input type="checkbox" ng-model="term" /> <small>Accept Terms & conditions</small>
                                    
                                    </div>
                                  
                                                                                                       
                                    <input type="submit" value="Register" class="btn btn-lg btn-info btn-block">

                                    <input type="button" value="Skip" class="btn btn-lg btn-primary btn-block" ng-click="changeShowPage(1)">
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

      </div>

    </div>
  </div>
</div>
  




<!-- Modal Login -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:100px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign IN</h4>
      </div>
      <div class="modal-body">


                <div class="row centered-form">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                                <form  method="POST" action="/users/session">
                                    <div class="form-group">
                                        <input type="text" class="form-control"  name="email" placeholder="Email Address" >
                                     </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"  name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group" align="right">
                                        <a href="" ng-click="clickedForgotPassword()"><small style="font-size: 12px;">Forgot Password</small></a>
                                    <input type="submit" class="btn btn-sm btn-success" value="Login" />
                                    </div>
                                </form>
                                

                                <div ng-show="forgot_password">
                                    <form method="post" ng-submit="recoverPassword()">
                                        <div class="form-group" >
                                            <input type="email" class="form-control"  ng-model="recover_email" placeholder="Enter Email You Signed Up With" required/>
                                        </div>
                                        <div class="form-group" align="right" >
                                            <input type="submit" class="btn btn-xs btn-primary" value="Email My Password"/>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>





      </div>

    </div>
  </div>
</div>
  

</div>


<div ng-show="check" style="background-color:#222">
  <table class="table table-hovered" style={"width:100%"}
    <thead>
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
        </tr>
    </thead>
    
</table>
 <table class="table table-hovered" style={"width:100%"}
 <tr class="success" data-ng-repeat="data in titled"> <td ><img src="{{data.artworkUrl100}}" style="float:left; padding-right:10px;">
<b>{{data.trackName}}</b><br/>
{{data.artistName}} 
{{data.collectionName}}<br/>
<a href="{{data.collectionViewUrl}}" target="_blank">iTunes</a>
</td>
</tr>

</table>
      
</div>
    <!-- jQuery lib-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Bootstrap lib-->
    <script src="js/bootstrap.min.js"></script>
    <!-- custom js-->
    <script src="js/custom.js"></script>
	<!--AngularJS-->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/js/public_page_js/main_landing_page.js"></script>

    <!--jquery notify-->
    <script type="text/javascript" src="/lib/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/lib/noty/layouts/bottomLeft.js"></script>
    <script type="text/javascript" src="/lib/noty/layouts/bottomRight.js"></script>
    <script type="text/javascript" src="/lib/noty/themes/default.js"></script>

    <!--Angular UI-->
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	
	<!-- File Upload Angular Module -->
	
	
	<script src="js/angular-file-upload.min.js"></script> 

    <script type="text/javascript">
    
    </script>



</body>
</html>




